/node_modules
target
.idea
.DS_Store
*.trace
rustc-ice*.txt
.turbopack
.turbo
trace.json
trace-*.json
trace-*.json.gz
*.cpuprofile
*.heapprofile
.trace/
*.tsbuildinfo
.claude/settings.local.json
/packages/pack-e2e/fixtures.umi/*/.umi
/packages/pack-e2e/fixtures.umi/*/.umi-production
/packages/pack-e2e/**/*/dist
/packages/pack-e2e/**/*/node_modules/.cache
/packages/*/node_modules