crates/runtime/**/node_modules
crates/runtime/**/package-lock.json
.next
target
.idea
.DS_Store
*.trace
rustc-ice*.txt
.turbopack
.turbo
trace.json
trace-*.json
trace-*.json.gz
*.cpuprofile
*.heapprofile
.trace/
*.tsbuildinfo
node_modules
