.rowBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
}

// Invalid pseudo class 
.rowBox:first {
    margin-top: 0;
}


// not pure selector
img {
    cursor: default !important;
}

form[id='step1'] {
    background: red;
}

.displayName {
    color: var(rgba(4, 15, 36, 0.85));
    margin-bottom: 12px;
}