// .polestar-tooltip-container {
//     ::-webkit-scrollbar-thumb :window-inactive {
//         background: rgba(250, 250, 250, 25%);
//     }
// }

.polestar-checkbox-box :global(.ant-checkbox-wrapper) {
    color: rgba(0, 0, 0, 85%);
    font-weight: 400;
}

:global {
    .ant-menu {
        background-color: #F0F2F5 !important;
    }
}