.tags {
  :global(.ant-tag) {
    margin-bottom: 8px;
  }

  :global(.x) {
    margin-left: 2px;
  }
}

.team {
  :global(.ant-avatar) {
    margin-right: 12px;
  }

  a {
    display: block;
    margin-bottom: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    transition: color 0.3s;
  }
}

.tabsCard {
  :global(.ant-card-head) {
    padding: 0 16px;
  }
}
